.div.text-center
  %h2 Get back on the road
  %button Get Started

.div.text-center
  %h3.inline Online traffic violator course
  %button Start Course

.div.text-center
  %h4 Complete the course in minimal time.
  %p DMV approved online course crafted to provide you easy to digest content. Get started and get back on the road.

%h2.text-center How Codriver works

.div.column-left
  %h3 1. Review and Pay
  %p Check violation eligibility, review, and pay.

.div.column-center
  %h3 2. Complete
  %p Complete course on your own time
.div.column-right
  %h3 3. Certificate
  %p Results auto sent to DMV. Receive certificate.


.div.text-center 
  %h3 States Covered

.column-left
  %p.text-center Coming Soon
.column-center
  %p.text-center Get Stared
.column-right
  %p.text-center Coming Soon